<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/profilepic.jpg" class="img-fluid" id="profilepic">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="fullname">Thomas Shellby</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span>
            <h1>About me</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure harum aliquam, molestias provident cumque
                doloremque quod possimus labore laudantium. Omnis ratione eius quidem? Molestias deserunt tempore sequi
                perferendis est velit.</p>
        </span>
    </div>
</div>